h1 {
	padding-left: 0.5em;
	border-bottom: solid 1px #C0C0C0;
}

h2 {
	padding-left: 0.2em;
	border-left: solid 16px #C0C0C0;
	border-bottom: solid 1px #C0C0C0;
}

h4 {
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: solid 1px #C0C0C0;
}

p code {
	display: block;
	white-space: pre;
	background: #F0F0F0;
	border: solid 1px #E0E0E0;
	padding: 0.5em;
	margin: 1em;
}

pre code {
	background: #F0F0F0;
	border: solid 1px #E0E0E0;
	padding: 0.5em;
	margin: 1em;
}

dl {
	margin: 1em 1em 1em 2em;
}

dt {
	background: #F0F0F0;
}
dt {
	margin: 0.5em;
}
